// IMPORT BOURBON

@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

// -------------------------------------
//   Core
// -------------------------------------

// ----- Settings - @Font-Face Declarations, Variables ----- //
@import "settings";

// ----- Helpers - Extends, Functions, and Mixins ----- //
@import "helpers";

// ----- Base - Base-level tags (body, p, etc.) ----- //
@import "base";

// ----- Typography - Fonts and Colors ----- //
@import "typography";

// ----- Layout - Margin, Padding, Sizing ----- //
@import "layout";

// ----- Skin - Backgrounds, Borders, Box-shadow, etc ----- //
@import "skin";


// -------------------------------------
//   Inbox 
// -------------------------------------
// ----- The inbox allows developers, and those not actively working on the CSS, 
// to quickly add styles that are easily seen by the maintainer of the file.


// -------------------------------------
// -------------------------------------


// -------------------------------------
//   Shame 
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?  Add it here, fix it later.
//
//

#robot-head {
	position: absolute;
	font-family: 'tombotsregular';
	font-size: 10em; 
}

// -------------------------------------
// -------------------------------------
