// -------------------------------------
//   Base
// -------------------------------------
// ----- Base-level tags (body, p, etc.)
// -------------------------------------


p {
	color: $charcoal;
}

a {
	color: $carrot;
	text-decoration: none;
	@include transition (all .3s ease-in-out);
	&:hover {
		color: $pumpkin;
		text-decoration: underline;
	}
}

// LISTS

ol.default {
	@extend %default-ol;
}

ul.default {
	@extend %default-ul;
}